.logo
{
    /* Logo */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
.logo2
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    /* width: 120px;
    height: 48px; */
    left: 40px;
    top: 150px;
}
.cuerpo
{
    position: relative;
    width: 1340px;
    height: 768px;
    
    /* Light blue/light-blue-100 */
    background: #F3F5FC;
}
.datos
{
    border:0;
    background-color: transparent;
    position: absolute;
    width: 577px;
    height: 348px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}
.datos2
{
    border:0;
    background-color: transparent;
    position: absolute;
    width: 277px;
    height: 248px;
    left: 60px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;

    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}
.respuesta
{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */
    background: #FFFFFF;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.encriptar
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;

    color: white;
}

.desencriptar
{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */
    background: #D8DFE8;

    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;

    color:#0A3871;
}
.solo
{
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;

    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.info
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 600px;
}
.info2
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 90px;
    top: 430px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 150%;
}
.info3
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 80px;
    top: 490px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
}
.frame3
{
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 645px;
}
.rectangle1
{
    position: absolute;
    width: 400px;
    height: 684px;
    left: 930px;
    top: 20px;

    /* White */
    background: #FFFFFF;

    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.frame4
{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 60px;
    top: 455px;
}